@page
@model ContactModel
@{

}
@functions{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            return View();
        }

        [HttpPost]
        public IActionResult Index(string firstName, string lastName)
        {
            ViewBag.Name = string.Format("Name: {0} {1}", firstName, lastName);
            return View();
        }
    }
}

<div>
    <h2>Contact Information</h2>
    <p>My projects, contributions websites & applications can be found on open source, in general I am contributing on GitHub, I can be found on social media as well.</p>
    <p>I am open to all suggestions and contributions on GitHub and you can contact me in any other way possible on social media or here by sending me a message.</p>
    <p>If you want to send a message by mail, please be specific, spam and repetitive text is not accepted.</p>
</div>

<form id="contact-form" method="POST">
    <div>
        <input class="input-group input-group-text" name="Name" type="text" pattern="\w+" placeholder="Your name" />
        <input class="input-group input-group-text" name="Mail" type="text" pattern="\w+[@@]\w+[.]\w+" placeholder="Your mail address" />
        <select class="input-group custom-select" name="Select">
            <option class="custom-select-lg" label="mail" role="option" value="mail" selected>mail</option>
            <option class="custom-select-lg" label="locally" role="option" value="locally">locally</option>
        </select>
    </div>
    <textarea class="text-body" name="Message" placeholder="Your message" maxlength="500"></textarea>
    <input class="input-group-sm" name="Submit" type="submit" value="Send"/>
</form>

<link type="text/css" rel="stylesheet" href="~/css/Contact.css" />
<script type="text/javascript" src="~/js/Contact.js"></script>