@page
@model ContactModel
@{
}

<div>
    <h2>Contact Information</h2>
    <p>My projects and contributions can be found on open source websites & applications, in general I am contributing on GitHub, I can be found on social media as well</p>
    <p>I am open to all suggestions and contributions on GitHub and you can contact me in any other way possible on social media.    </p>
</div>