@page
@model ContactModel
@using Personal_Website.Pages
@using Back_End.DBFunctions;
@using Back_End.Security;
@using Microsoft.VisualStudio.Web;
@using Microsoft.Net;
@using Microsoft.Net.Http;
@using Microsoft.Net.Http.Headers;
@using Microsoft.DotNet;
@using Microsoft.DotNet.PlatformAbstractions;
@using System.Net;
@using System.Net.Cache;
@using System.Net.Http;
@using System.Net.Http.Headers;
@using System.Security
@using System.Security.Authentication;
@using System.Security.Authentication.ExtendedProtection;
@using System.Web;
@using Microsoft.AspNetCore;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Razor;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@{

    if (Request.Method == "POST")
    {
        DateTime dt = DateTime.Now;
        string name = Request.Form["Name"];
        string message = Request.Form["Message"];
        string mail;
        string token = Request.Form["__RequestVerificationToken"];
        int status;

        if (Request.Form["Select"] == "local")
            mail = null;
        else
            mail = Request.Form["Mail"];

        if (Formatting.contactFormat(name, message, mail))
        {
            name = name.Replace("'", @"\'");

            if (Request.Form["Select"] == "local")
                mail = "";

            status = SQLCrud.InsertNewMessage(name, "locally", message, dt, HttpContext.Connection.RemoteIpAddress.MapToIPv4().ToString(), token, mail);

            Response.StatusCode = status;
        }
        else
            Response.StatusCode = 2;
    }
    if (Request.Method == "GET")
    {
        DateTime dt = DateTime.Now;

        int status = SQLCrud.RemoveMessage(dt, HttpContext.Connection.LocalIpAddress.MapToIPv4().ToString());

        Response.StatusCode = status;
    }

    ViewData["Title"] = "Contact";
}


<div>
    <h2>Contact Information</h2>
    <p>My projects, contributions websites & applications can be found on open source, in general I am contributing on GitHub, I can be found on social media as well.</p>
    <p>I am open to all suggestions and contributions on GitHub and you can contact me in any other way possible on social media or here by sending me a message.</p>
    <p>If you want to send a message by mail, please be specific, spam and repetitive text is not accepted, you can send only 1 message per hour.</p>
</div>

<form id="contact-form" enctype="multipart/form-data" method="POST" action="" onsubmit="">
    <div id="credents-container">
        <input class="input-group input-group-text" name="Name" type="text" pattern="\w+\s\w+" placeholder="Your name" />
        <input class="input-group input-group-text" name="Mail" type="text" pattern="\w+[@@]\w+[.]\w+" placeholder="Your email" />
        <select class="input-group custom-select" name="Select">
            <option class="custom-select-lg" label="mail" role="option" value="mail" selected>mail</option>
            <option class="custom-select-lg" label="local" role="option" value="local">local</option>
        </select>
    </div>
    <textarea class="text-body" name="Message" placeholder="Your message" maxlength="500"></textarea>
    <div id="controllers-contrainer">
        <input class="input-group-sm" name="Submit" type="submit" value="Send"/>
        <input id="submit-remove" class="input-group-sm" name="Delete" formmethod="GET" type="button" value="Cancel" onclick="HTTPMessageDelete();" />
    </div>
</form>

<div style="margin-top: 25px">
    <p style="margin: auto; text-align: center; color: red;">if you want to cancel your latest message proceed to the 'Cancel' button, however you cannot do that 1 hour after messaging.</p>
</div><br>
<hr>
<div id='contacts-contain'>
    You might be interested in following me on...
    <div id='contacts'>
        <i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/jan-safronov-568706204/">LinkedIn</a>
        <i class="fab fa-github-square"></i><a href="https://github.com/Pomid0rchik">GitHub</a>
        <i class="fas fa-envelope"></i><a href="mailto:Jansafronov@gmail.com">Email</a>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="~/css/Contact.css" />
<script type="text/javascript" src="~/js/Contact.js"></script>
<script src="https://kit.fontawesome.com/c0f618898f.js" crossorigin="anonymous"></script>