@page
@model Personal_Website.Pages.DevModel
@{
}
<h1>Latest</h1>
<div id='main-container'>

</div>

<link rel="stylesheet" type="text/css" href="../wwwroot/css/Dev.css" />
<script type="text/babel" src="../wwwroot/js/Dev.js"></script>