@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <figure>
        <img id="image-topcenter" src="~/media/image.png" />
    </figure>
    <h1 class="display-4 index-text">Welcome to My Website Page</h1>
    <p class="index-text">Here you can look at my profile and projects and many more things that I have done or the companies and projects that I have worked with.</p>
</div>
<link rel="stylesheet" type="text/css" href="~/css/Index.css" />
<script type="text/javascript" src="~/js/Index.js"></script>
