@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <figure>
        <figcaption><h3>Test fig</h3></figcaption>
    </figure>
    <h1 class="display-4">Welcome to My Website Page</h1>
    <p>Testing</p>
</div>
<link rel="stylesheet" type="text/css" href="~/css/Index.css" />
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Index.js"></script>