@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is my personal presentation of my work and other related stuff, please do not try to copy or claim
    my work as your own or anybody else's as it is prone to legal issues and criminal activity.</p> <br />
<p>There is no collection of data about you without your consent, in case you want to contact me you can send a message or an email through contact directory.
    Interaction with that or other storage and memory requiring displays requires your data and cookies</p>
