#contact-form {
  width: 60%;
  min-height: 200px;
  margin: auto;
  margin-bottom: 10px;
  padding-left: .375rem;
  padding-right: .375rem;
  padding-top: .375rem;
  padding-bottom: .375rem;
  row-gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: fit-content 60% 20%;
      grid-template-rows: -webkit-fit-content 60% 20%;
      grid-template-rows: fit-content 60% 20%;
  border: 1px solid black;
}

#contact-form #credents-container {
  width: -webkit-fill-available;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

#contact-form #credents-container input {
  width: 150px;
  height: 30px;
  margin: auto;
  border: 1px solid black;
}

#contact-form #credents-container select {
  width: 165px;
  height: 30px;
  margin: auto;
  padding: 0 0 0 1.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 15px;
}

#contact-form textarea {
  width: 75%;
  height: 100%;
  min-height: 50px;
  max-height: 200px;
  margin: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  font-family: 'Times New Roman', Times, serif;
  resize: vertical;
  border: 1px solid black;
}

#contact-form #controllers-contrainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.333333333333% 33.333333333333% 33.333333333333%;
      grid-template-columns: 33.333333333333% 33.333333333333% 33.333333333333%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

#contact-form #controllers-contrainer input[Name="Submit"] {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}

#contact-form #controllers-contrainer #submit-remove {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

#contact-form:focus-within {
  -webkit-box-shadow: gray 0px 0px 5px;
          box-shadow: gray 0px 0px 5px;
}

#contacts-contain {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#contacts-contain #contacts {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 5%;
  margin-left: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

#contacts-contain #contacts i {
  margin: auto;
}
/*# sourceMappingURL=Contact.css.map */