body {
    height: 2000px;
}

$defb: 1px solid black;

header {
    nav {
        //margin-bottom: 0;
    }
}

#container-main {



    .text-center {
        figure {
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}