body {
    height: 2000px;
}

$defb: 1px solid black;

header {
    nav {
        margin-bottom: 0;
    }
}

#container-main {

    margin-top: -1rem;

    .text-center {
        figure {
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.index-text {
    margin-left: 20px;
    margin-right: 20px;
}