a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-item-o {
  padding-right: 7px;
}

#nav-item-o i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  top: 1px;
  cursor: pointer;
}

#nav-item-o a {
  cursor: pointer;
}

#nav-item-o #item-select {
  width: 60px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
  position: absolute;
  top: 45px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  z-index: 1;
}

#nav-item-o #item-select a {
  text-align: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#nav-item-o #item-select a:hover {
  background-color: azure;
}

.pres_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
  -webkit-box-shadow: 2.5px 2.5px 2px grey;
          box-shadow: 2.5px 2.5px 2px grey;
  border-radius: 5px 5px 5px 5px;
}

.pres-block:hover {
    box-shadow: 5px 5px 2px grey;
}

.pres_block .pres_src {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
}

.pres_block .pres_src #temp_svg {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: all;
  transition-property: all;
  cursor: pointer;
}

.pres_block .pres_src #temp_svg:hover {
  width: 30px;
  height: 30px;
}

.pres_block .pres_src #temp_svg:hover path {
  fill: #8fe9cb;
}

.pres_block .pres_content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
}

.pres_block .pres_content hr {
  width: 60%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  background: grey;
}

.nav-item:hover {
  background-color: azure;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}
/*# sourceMappingURL=site.css.map */